.form-control {
    padding: .375rem .75rem;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid var(--food-red);
    outline: none;
    border-radius: 0;
}
