
/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
    .carousel-caption h3 {
        font-size: 1.8rem;
    }

    .main_page_content h1 {
        font-size: 3.1rem;
    }

    /*  About Us  */
    .display-4 {
        font-size: 3rem;
    }
}
/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
    p.lead {
        font-size: 1.2rem;
    }
    .carousel-indicators li {
        width: 40px;
        height: 4px;
        margin: 0 4px;
    }

    .main_page_content h1 {
        font-size: 2.5rem;
    }

    /*  About Us  */
    .display-4 {
        font-size: 2.3rem;
    }
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
    p.lead {
        font-size: 1.1rem;
    }
    .navbar-brand img {
        height: 1.5rem;
    }
    .navbar {
        font-size: 12pt;
        padding: .4rem .6rem;
    }
    .navbar-toggler {
        transform: scale(.9);
    }
    .jumbotron .svg-inline--fa {
        font-size: 1.6rem;
        margin: 0 .8rem;
    }

    .main_page_content h1 {
        font-size: 2rem;
    }

    .img-area img {
        display: inline-block;
    }

    /*  About Us  */
    .display-4 {
        font-size: 2rem;
    }
}
/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
    .navbar-brand img {
        height: 1.3rem;
    }
    .navbar {
        font-size: 11pt;
        padding: .3rem .6rem;
    }
    .nav-link:hover {
        transform: scale(1.01);
    }

    .jumbotron .svg-inline--fa {
        font-size: 1.4rem;
        margin: 0 .5rem;
    }

    .swiper-slide {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .align-self-center {
        padding: 0!important;
    }
    .swiper-container {
        border-radius: 0;
        padding: 0!important;
    }
    .swiper-pagination {
        display: none;
    }
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .home_construction h1, .make_a_donation h1 {
        font-size: 1.8rem;
    }

    footer hr {
        margin: .4rem;
    }
    footer p {
        font-size: 10pt;
        margin: 0 0 .7rem;
    }

    /*  About Us  */
    .display-4 {
        font-size: 1.8rem;
    }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
